.lead__image {
  margin-top: 64px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
  }
}
@media screen and (max-width: 768px) {
  .lead__image {
    box-sizing: content-box;
    width: calc(100% + 24px * 2);
  }
}
@media screen and (max-width: 370px) {
  .lead__image {
    margin-top: 40px;
    max-width: calc(100% + 16px * 2);
  }
}
