.intro {
  margin-top: 92px;
  max-width: 690px;
  min-height: 429px;
  align-self: flex-start;
}
@media screen and (max-width: 768px) {
  .intro {
    margin-top: 88px;
    max-width: 100%;
  }
}
@media screen and (max-width: 370px) {
  .intro {
    margin-top: 64px;
  }
}
