.cover {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 92px;
    background: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    height: 740px;
    width: 100%;

}